body {
	font-family: Helvetica, sans-serif;
}

.prettytext {
	margin: 5px;
	display: inline;
	color: green;
}

#display {
	font-size: 5em;
}

#mps {
	font-size: 3.5em;
	color: chartreuse;
}

#basicmoney {
	font-size: 2em;
}

#save,#load {
	font-size: 1.5em;
}

#load {
	background-color: gray;
	border-color: gray;
	color: darkgray;
}

ul {
	list-style: none;
}

.generator {
	border: 1.5px dashed greenyellow;
	border-radius: 10px;
	display: inline-block;
	background-color: chartreuse;
	color: green;
	text-align: center;
	padding: 4.5px;
}

.fakebutton {
	border-radius: 10px;
	color: white;
	background-color: green;
	border-color: green;
	padding: 6px;
}

.noselect {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}